.button {
  width: 100%;
  display: block;
  padding: 10px 44px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: $title-font;
  box-sizing: border-box;
  border: none;
}

.button--basic {
  background-color: $basic-green;
}

.button--basic:hover {
  background-color: #5eaa2f;
}

.button--basic:focus {
  background-color: #5eaa2f;
  color: #ffffff30;
  outline: none;
}

.button--secondary {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
}

.button--secondary:hover {
  background-color: #ebebeb;
}

.button--secondary:focus {
  background-color: #ebebeb;
  color: #44444430;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: $tablet-width) {
  .button {
    padding: 10px 26px;
    font-size: 16px;
    line-height: 20px;
  }

  .button--tablet {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
  }
}
