.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (min-width: $desktop-width) {
  .page__body--index::after {
    content: "";
    position: absolute;
    background-color: $basic-green;
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/index-background-desktop.jpg");
    left: 50%;
    top: 0;
    width: 720px;
    height: 694px;
    z-index: -1;

    @media (min-width: 1440px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../img/index-background-desktop@2x.jpg");
      background-size: auto 696px;
    }
  }
}
