.catalog-more__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 78px;
  padding-bottom: 8px;
  position: relative;
  margin: 0;
}

.catalog-more__title::before {
  content: "";
  background-image: url("../../img/icon_plus.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -15px;
}

.catalog-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
}

.catalog-more__wrapper {
  padding-bottom: 25px;
  position: relative;
}

.catalog-more__wrapper::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: -20px;
}

@media (min-width: $tablet-width) {
  .catalog-more__wrapper {
    border: 2px solid $basic-gray;
    padding: 37px;
  }

  .catalog-more__wrapper::after {
    display: none;
  }

  .catalog-more__title {
    font-size: 20px;
    line-height: 22px;
    padding-top: 123px;
    padding-bottom: 23px;
  }

  .catalog-more__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 35px 87px;
  }

  .catalog-more__title::before {
    background-size: 60px auto;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 50%;
    margin-left: -30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 87px 0;
  }
}
