

.catalog__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;
  margin: 0;
}

.catalog__title::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 18px;
  position: relative;
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__foto {
  width: 140px;
  margin: 0 auto;
}

.catalog__item::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.catalog__text-wrapper {
  width: 140px;
}

.catalog__name {
  display: block;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
  padding-bottom: 14px;
}

.catalog__description-wrapper {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.catalog__description-list {
  margin: 0;
  margin-bottom: 22px;
}

@media (max-width: $mobile-width-only) {
  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    border: none;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 141px 60px;
    padding-bottom: 68px;
  }

  .catalog__item {
    background-color: $basic-gray;
    padding: 0 36px 39px;
  }

  .catalog__item-wrapper {
    flex-direction: column;
  }

  .catalog__text-wrapper {
    width: 100%;
  }

  .catalog__foto {
    width: 161px;
    height: 172px;
    margin: -45px auto 0;
    padding-bottom: 34px;
    display: block;
  }

  .catalog__foto--big {
    width: 168px;
    height: 206px;
    margin: -73px auto 0;
  }

  .catalog__name {
    margin: 0 auto;
    width: 174px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }


  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 163px;
  }

  .catalog__description-wrapper {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__title::after,
  .catalog__item::after {
    display: none;
  }

  .catalog__description-list {
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    gap: 143px 80px;
    padding-bottom: 76px;
  }
}
