.catalog-additions__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additions__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 36px;
  position: relative;
  display: inline-block;
}

.catalog-additions__title::after {
  content: "";
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
  position: absolute;
  top: 50%;
  left: calc(100% + 22px);
}

.catalog-additions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-additions__name {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 0;
}

.catalog-additions__description {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin: 0;
}

.catalog-additions__wrapper {
  border-top: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .catalog-additions__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-additions__name {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }

  .catalog-additions__text {
    font-size: 16px;
    line-height: 16px;
    align-items: center;
  }

  .catalog-additions__price {
    margin-left: 57px;
  }

  .catalog-additions__item {
    padding: 26px 38px 30px;
    border: 1px solid #cdcdcd;
  }

  .catalog-additions__list {
    padding-top: 75px;
    border: none;
  }

  .catalog-additions__wrapper {
    border: none;
  }

  .catalog-additions__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    border-bottom: none;
    margin: 0;
  }

  .catalog-additions__title::after {
    left: calc(100% + 37px);
  }

  .catalog-additions__title::before {
    content: "";
    height: 2px;
    width: 1000%;
    background-color: $basic-green;
    position: absolute;
    top: 50%;
    right: 100%;
  }

  .catalog-additions__button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .catalog-additions__description {
    padding-bottom: 21px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additions__wrapper {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
    padding-bottom: 86px;
  }

  .catalog-additions__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 15px 0;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-additions__button {
    width: 244px;
  }

  .catalog-additions__name {
    width: 161px;
    padding-right: 163px;
    padding-bottom: 0;
  }

  .catalog-additions__text {
    padding-right: 112px;
    width: 132px;
  }

  .catalog-additions__description {
    padding-bottom: 0;
  }

  .catalog-additions__price {
    margin-left: auto;
  }

  .catalog-additions__title {
    padding-left: 0;
  }

  .catalog-additions__title::after {
    left: calc(100% + 35px);
  }

  .catalog-additions__title::before {
    right: calc(100% + 40px);
  }
}
