.catalog__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;
  margin: 0;
}

.catalog__title::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 18px;
  position: relative;
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__item::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.catalog__text-wrapper {
  width: 140px;
}

.catalog__name {
  display: block;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
}

.catalog__description-wrapper {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 141px 60px;
  }

  .catalog__item {
    background-color: $basic-gray;
    padding: 161px 36px 39px;
  }

  .catalog__item-wrapper {
    display: block;
  }

  .catalog__text-wrapper {
    width: 100%;
  }

  .catalog__name {
    margin: 0 auto;
    width: 174px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__description-wrapper {
    font-size: 16px;
    padding: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__title::after,
  .catalog__item::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    gap: 143px 80px;
  }
}
