.present__container {
  background-color: $basic-green;
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../../img/background_present.jpg");
  background-repeat: no-repeat;
}

.present__title {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding: 186px 61px 43px 58px;
  position: relative;
  margin: 0;
}

.present__title::before {
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../img/icon_gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 50%;
  margin-right: -39px;
  top: 60px;
}

@media (min-resolution: 2dppx) {
  .present__container {
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../../img/background_present@2x.jpg");
    background-size: 707px auto;
  }
}

@media (min-width: $tablet-width) {
  .present__container {
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../../img/background_present--tablet.jpg");
  }

  .present__title {
    padding: 71px 124px 69px 422px;
    text-align: left;
  }

  .present__title::before {
    left: 77px;
    top: 57px;
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    .present__container {
      background-image: linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../../img/background_present--tablet@2x.jpg");
      background-size: 707px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .present__title {
    text-align: center;
    padding: 185px 43px 42px 41px;
  }

  .present__container {
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../../img/background_present--desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .catalog-main-container__present {
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    .present__container {
      background-image: linear-gradient(
          hsl(97 53% 47% / 85%),
          hsl(97 53% 47% / 85%)
        ),
        url("../../img/background_present--desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .present__title::before {
    left: 83px;
  }
}
