.form__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
}

.form__subtitle {
  font-family: $title-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 39px;
  margin: 0;
}

.form__list,
.form__list-checkbox {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.form__list-checkbox {
  padding-top: 39px;
  padding-bottom: 18px;
}

.form__item {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.form__item--additions {
  padding-bottom: 24px;
}

.form__item--last {
  padding-bottom: 24px;
}

.form__label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding-right: 15px;
}

.form__label--email {
  min-width: 50px;
}

.form__input,
.form__comment {
  border: 1px solid #e7e7e7;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special_dark-grey;
  outline: none;
}

.form__comment {
  width: 100%;
  min-height: 151px;
  padding: 9px 12px 15px;
  box-sizing: border-box;
  margin-bottom: 18px;
  resize: none;
}

.form__comment:hover {
  border-color: #cdcdcd;
}

.form__comment:focus {
  border-color: #444444;
}

.form__input {
  padding: 13px 11px;
  flex-grow: 1;
}

.form__input:hover {
  border-color: #cdcdcd;
}

.form__input:focus {
  border-color: #444444;
}

.form__input--error {
  outline: 2px solid #ff8282;
}

.form__input-wrapper:focus-within {
  outline: 2px solid #444444;
}

.form__control {
  position: relative;
  display: block;
  padding-left: 45px;
}

.form__control-mark {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__control:hover .form__control-mark {
  border-color: #bababa;
}

.form__control-input:disabled + .form__control-mark {
  opacity: 0.3;
}

.form__control-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $basic-green;
  content: "";
}

.form__control-input[type="checkbox"] + .form__control-mark {
  border-radius: 0;
  width: 26px;
  height: 26px;
}

.form__control-input[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 18px;
  height: 14px;
  background-image: url("../../img/checkbock_cheked.png");
  background-repeat: no-repeat;
  content: "";
}

.form__list--name::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.form__filter {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list-radio {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 28px;
  position: relative;
  color: #222222;
}

.form__item-radio {
  padding-bottom: 25px;
}

.form__list-radio::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.form__subject {
  margin: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.form__subject--contacts {
  padding-top: 26px;
  padding-bottom: 32px;
  margin: 0;
  width: 187px;
}

.form__subject::after {
  content: "";
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
  position: absolute;
  top: 50%;
  left: calc(100% + 14px);
}

.form__subject--contacts::after {
  right: -20px;
  top: 40px;
}

.form__subject--comment {
  margin: 0;
  margin-bottom: 37px;
}

.form__subject--comment::after {
  content: "";
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
  position: absolute;
  left: calc(100% + 25px);
  top: 50%;
}

.form__subject--additions::after {
  content: "";
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
  position: absolute;
  right: -20px;
  top: 50%;
}

.form__label--additions {
  color: #000000;
}

.form__text {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;
}

.form__input-wrapper {
  display: flex;
  width: 100%;
  border: 1px solid #e7e7e7;
  align-items: center;
}

.form__input--phone,
.form__input--email {
  border: none;
  flex-grow: 1;
}

.form__input-icon {
  padding-right: 10px;
}

.form__input-icon--email {
  fill: none;
  stroke: #000000;
}

.form__input-wrapper:focus-within .form__input-icon {
  stroke: $basic_green;
}

.form__contacts {
  padding-bottom: 8px;
}

.form__button {
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 54px;
  }

  .form__subtitle {
    padding-top: 0;
    padding-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }

  .form__list--name::after {
    display: none;
  }

  .form__label,
  .form__input,
  .form__control {
    font-size: 20px;
    line-height: 29px;
  }

  .form__contacts {
    padding-bottom: 45px;
  }

  .form__input {
    padding: 10px 18px 11px;
  }

  .form__label--email {
    min-width: 64px;
  }

  .form__list-radio {
    border: 1px solid #e7e7e7;
    padding: 30px 27px;
  }

  .form__list--name {
    padding-bottom: 72px;
  }

  .form__list-radio::after {
    display: none;
  }

  .form__subject {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 76px;
  }

  .form__subject--contacts {
    width: auto;
    padding: 0;
  }

  .form__comment {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    padding: 10px 19px;
    min-height: 174px;
  }

  .form__subject--comment {
    margin-top: 0;
  }

  .form__list-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px 61px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__subject--additions {
    margin: 0;
    margin-bottom: 62px;
  }

  .form_button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    padding-top: 59px;
    align-items: center;
    padding-bottom: 79px;
  }

  .form__text {
    font-size: 16px;
    text-align: left;
    margin: 0;
  }

  .form__item-radio {
    padding-bottom: 23px;
  }

  .form__item {
    padding-bottom: 20px;
  }

  .form__item-radio--last,
  .form__item--last {
    padding-bottom: 0;
  }

  .form__subject::before {
    content: "";
    height: 2px;
    width: 1000%;
    background-color: $basic-green;
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);
  }

  .form__subject::after {
    left: calc(100% + 40px);
  }

  .form__item--additions {
    padding-bottom: 0;
  }

  .form__button {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form__control {
    padding-left: 59px;
  }

  .form__control-mark {
    top: 5px;
    margin-top: -15px;
    left: 0;
    width: 40px;
    height: 40px;
  }

  .form__control-input[type="radio"]:checked + .form__control-mark::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .form__subject--contacts::after {
    top: 50%;
  }

  .form__control-input[type="checkbox"] + .form__control-mark {
    width: 39px;
    height: 39px;
  }

  .form__control-input[type="checkbox"]:checked + .form__control-mark::before {
    top: 11px;
    left: 8px;
    width: 24px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    padding-top: 77px;
    padding-bottom: 56px;
  }

  .form__subject {
    margin-top: 65px;
  }

  .form__subject--comment {
    margin-top: 50px;
  }

  .form_fieldsets-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .form__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__list-checkbox {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 72px;
  }

  .form__list--name {
    padding-bottom: 0;
  }

  .form__input-icon {
    padding-right: 15px;
  }

  .form__contacts {
    padding-bottom: 0;
  }

  .form__comment {
    margin-bottom: 0;
  }

  .form_button-wrapper {
    gap: 81px;
    padding-top: 66px;
  }
}
