.contacts__adress-container {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}

.contacts__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
}

.contacts__adress {
  width: 139px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.contacts__map iframe {
  border: none;
  display: block;
}

.contacts--background {
  background-color: $basic-gray;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__adress {
    font-size: 16px;
    width: 159px;
  }

  .contacts__title--street {
    padding-bottom: 20px;
  }

  .contacts__adress-container {
    padding: 56px 70px 62px;
  }

  .contacts__map iframe {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__adress-container {
    position: absolute;
    width: 565px;
    background-color: #ffffff;
    padding: 59px 80px 63px;
    left: 110px;
    top: 95px;
  }

  .contacts__map iframe {
    width: 1440px;
  }
}
