.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px 40px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__subtitle {
  font-family: $title-font;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.example__item {
  margin: 0;
}

.example__number {
  font-family: $title-font;
  font-weight: 400;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 14px 20px 17px;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  min-width: 124px;
  box-sizing: border-box;
}

.example__item-wrapper--kg {
  margin-right: 32px;
}

.example__item-wrapper {
  position: relative;
  padding-bottom: 34px;
}

.example__text {
  display: inline-block;
  width: 77px;
  position: absolute;
  top: 46px;
  left: 22px;
  background-color: #eaeaea;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}

@media (max-width: $mobile-width-only) {
  .example__description br {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .example__description br {
    display: block;
  }

  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    border-top: 1px solid #e6e6e6;
    padding: 43px 30px 104px;
    position: relative;
  }

  .example__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    bottom: 0;
    left: 0;
    z-index: -5;
  }

  .example__item-container {
    width: 366px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  .example__nambers-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 162px;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
  }

  .example__subtitle {
    text-align: right;
    font-size: 20px;
    line-height: 27px;
    width: 174px;
    padding-top: 5px;
    padding-bottom: 0;
  }

  .example__number {
    padding: 15px 30px 20px;
    min-width: 162px;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    background-color: #ffffff;
    top: 62px;
    left: 50%;
    margin-left: -57px;
  }

  .example__text--time {
    width: 142px;
    margin-left: -71px;
  }

  .example_part-slider {
    padding-top: 100px;
  }

  .example__item-wrapper--kg {
    margin-right: 0;
  }

  .example__item-wrapper {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 70px 110px 70px;
  }

  .example__description {
    width: 436px;
    margin-bottom: 69px;
  }

  .example__nambers-wrapper {
    width: 436px;
    justify-content: flex-start;
  }

  .example__price {
    padding-left: 63px;
  }

  .example__title {
    padding-bottom: 146px;
  }

  .example__subtitle {
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .example_part-slider {
    padding-top: 0;
  }

  .example__description br {
    display: none;
  }

  .example__item-container {
    padding-bottom: 55px;
  }
}
