.features__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 32px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
}

.features-list__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;
}

.features-list__description {
  display: block;
  margin: 0;
}

.features-list__item--composition::before {
  content: "";
  background-image: url("../img/features_composition.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.features-list__item--flour::before {
  content: "";
  background-image: url("../img/features__flour.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.features-list__item--food::before {
  content: "";
  background-image: url("../img/features_food.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.features-list__item--month::before {
  content: "";
  background-image: url("../img/features_month.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 32px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 135px;
  }

  .features-list__item {
    padding-left: 0;
    margin-bottom: 0;
  }

  .features-list__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    grid-template-columns: 249px 249px 249px 249px;
    column-gap: 77px;
    padding-bottom: 69px;
  }
}
