.features__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 32px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
  counter-reset: program-counter;
}

.features-list__item-wrapper {
  position: relative;
  counter-increment: program-counter;
}

.features-list__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;
}

.features-list__description {
  display: block;
  margin: 0;
}

.features-list__item::after {
  content: "";
  background-color: $basic-green;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.features-list__item--composition::before {
  content: "";
  background-image: url("../img/icon_leaf.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  top: 14px;
  left: 15px;
}

.features-list__item--flour::before {
  content: "";
  background-image: url("../img/icon_tub.svg");
  background-repeat: no-repeat;
  width: 29px;
  height: 31px;
  position: absolute;
  top: 13px;
  left: 15px;
}

.features-list__item--food::before {
  content: "";
  background-image: url("../img/icon_eat.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 18px;
}

.features-list__item--month::before {
  content: "";
  background-image: url("../img/icon_alarm.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 33px;
  position: absolute;
  top: 13px;
  left: 14px;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 32px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 135px;
  }

  .features-list__item {
    padding-left: 0;
    margin-bottom: 0;
  }

  .features-list__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
    padding-bottom: 57px;
  }

  .features-list__item::after {
    content: "";
    background-color: $basic-green;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
  }

  .features-list__item--composition::before {
    top: 65px;
    left: 25px;
  }

  .features-list__item--flour::before {
    top: 64px;
    left: 25px;
  }

  .features-list__item--food::before {
    top: 65px;
    left: 28px;
  }

  .features-list__item--month::before {
    top: 63px;
    left: 24px;
  }

  .features-list__item-wrapper::after {
    content: counter(program-counter);
    font-family: "Oswald", sans-serif;
    width: 112px;
    height: 280px;
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    color: $basic-gray;
    z-index: -1;
    top: 0px;
    left: 118px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    grid-template-columns: 249px 249px 249px 249px;
    column-gap: 77px;
    padding-bottom: 69px;
  }
}
