@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

.page-body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  min-height: auto;
}

.general-container {
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
}


@media (min-width: $tablet-width) {
  .general-container {
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: hidden;
  }

  .general-container--form {
    padding-left: 70px;
    padding-right: 67px;
    overflow-x: hidden;
  }

  .page-body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .general-container {
    padding-left: 110px;
    padding-right: 110px;
  }

  .page-body {
    width: 1440px;
  }
}
