.goal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goal__item {
  background-color: $basic-gray;
  margin-bottom: 20px;
  padding: 30px 20px 18px 19px;
  position: relative;
}

.goal__item-title {
  display: block;
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 72px;
}

.goal__item::after {
  content: "";
  background-color: $basic-green;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 24px;
  left: 22px;
  border-radius: 50%;
}

.goal__item--slim::before {
  content: "";
  background-image: url("../img/goal_cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  position: absolute;
  top: 21px;
  left: 29px;
  z-index: 2;
}

.goal__item--weight::before {
  content: "";
  background-image: url("../img/goal_cat-pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  position: absolute;
  left: 13px;
  top: 35px;
  z-index: 2;
}

.goal__item-description {
  padding-bottom: 23px;
  margin: 0;
}

.goal__item-description::after {
  content: "";
  height: 1px;
  min-width: 240px;
  border-bottom: 1px solid #d9d9d9;
  left: 0;
  bottom: 0;
  position: absolute;
}

.goal__link {
  position: relative;
  display: inline-block;
  font-family: $title-font;
  width: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 19px 49px 4px 0;
}

.goal__link::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 10px;
  right: 0;
  top: 50%;
}

.goal__link:focus {
  opacity: 0.3;
  outline: none;
}

@media (min-width: $tablet-width) {
  .goal__item {
    padding: 77px 316px 58px 52px;
  }

  .goal__item::after {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 62px;
    left: auto;
  }

  .goal__item--slim::before {
    content: "";
    background-size: 140px auto;
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 92px;
    z-index: 2;
  }

  .goal__item--weight::before {
    background-size: 268px auto;
    width: 268px;
    height: 112px;
    left: auto;
    top: 135px;
    right: 27px;
  }

  .goal__link::before {
    margin-top: -5px;
  }

  .goal__item-title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 24px;
    padding-left: 0;
  }

  .goal__item-description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 52px;
  }

  .goal__link {
    font-size: 20px;
    line-height: 29px;
    padding: 0 57px 0 0;
  }

  .goal__item--slim {
    margin-bottom: 30px;
  }

  .goal__item--weight {
    margin-bottom: 46px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog-more__title br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .goal__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding-top: 83px;
    padding-bottom: 79px;
  }

  .goal__item {
    padding: 77px 51px 55px 52px;
    margin: 0;
  }

  .goal__item-title {
    padding-left: 162px;
    padding-bottom: 73px;
  }

  .goal__item-description {
    padding-bottom: 23px;
  }

  .goal__item--slim::before {
    content: "";
    background-size: 70px auto;
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: auto;
  }

  .goal__item--weight::before {
    background-size: 134px auto;
    width: 134px;
    height: 100px;
    left: 33px;
    top: 67px;
    right: auto;
  }

  .goal__item::after {
    width: 100px;
    height: 106px;
    top: 41px;
    right: auto;
    left: 52px;
  }

  .goal__link::before {
    width: 32px;
    height: 10px;
    right: 0;
    top: 50%;
    margin-top: -5px;
  }
}
