.main-wrapper__promo {
  position: relative;
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../img/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 164px;
}

.main-wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.main-wrapper__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 25px;
}

.main-wrapper__image {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -140px;
}

.main-wrapper__button {
  padding: 138px 20px 20px;
}

@media (min-width: $tablet-width) {
  .main-wrapper__promo {
    background-image: none;
    padding: 0;
  }

  .main-wrapper__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 41px;
    padding-bottom: 62px;
    padding-left: 117px;
    text-align: left;
    width: 414px;
    margin: 0;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 119px;
    padding-top: 0;
  }

  .main-wrapper__button {
    padding: 49px 120px 540px;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper__title {
    padding-top: 126px;
    padding-bottom: 40px;
    padding-left: 190px;
    text-align: left;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 190px;
    padding-top: 0;
  }

  .main-wrapper__button {
    padding: 52px 190px 182px;
  }

  .main-header__promo-container {
    position: relative;
  }

  .main-header__promo-container::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/index_background_desktop.jpg");
    right: 0;
    top: 0;
    width: 720px;
    height: 694px;
    z-index: -1;
  }
}
