.main-wrapper__promo {
  position: relative;
  background-color: $basic-green;
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../img/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 164px;
}

@media (min-resolution: 2dppx) {
  .main-wrapper__promo {
    background-image: url("../img/index_background@2x.jpg");
  }
}

.main-wrapper__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.main-wrapper__slogan {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 25px;
  text-transform: uppercase;
}

.main-wrapper__image {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -140px;
}

.main-wrapper__button {
  padding: 138px 20px 20px;
}

@media (min-width: $tablet-width) {
  .main-wrapper__promo {
    background-image: none;
    background-color: transparent;
    padding: 0;
    position: static;
  }

  .main-wrapper__block {
    padding-bottom: 525px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-wrapper__button {
    width: 244px;
    padding-top: 49px;
    padding-left: 90px;
    padding-bottom: 0;
  }

  .main-wrapper__image {
    top: auto;
    bottom: 0;
    margin-left: -354px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  .main-wrapper__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 62px;
    padding-bottom: 39px;
    padding-left: 87px;
    text-align: left;
    width: 416px;
    margin: 0;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 87px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper__title {
    padding-top: 110px;
    padding-bottom: 40px;
    padding-left: 160px;
    text-align: left;
  }

  .main-wrapper__image {
    top: 32px;
    bottom: auto;
    left: 558px;
    margin-left: 0;
    z-index: 2;
    width: 552px;
    height: 499px;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 160px;
    padding-top: 0;
  }

  .main-wrapper__button {
    padding-top: 52px;
    padding-left: 160px;
  }

  .main-wrapper__block {
    padding-bottom: 185px;
  }
}
