.main-wrapper__promo {
  position: relative;
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../img/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 164px;
}

.main-wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.main-wrapper__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 25px;
}

.main-wrapper__image {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -140px;
}

.main-wrapper__button {
  padding: 138px 20px 20px;
}

@media (min-width: $tablet-width) {
  .main-wrapper__promo {
    background-image: none;
    padding: 0;
  }

  .main-wrapper__block {
    padding-bottom: 526px;
  }

  .main-wrapper__button {
    width: 244px;
    padding-top: 49px;
    padding-left: 120px;
  }

  .main-wrapper__promo {
    position: static;
  }

  .main-wrapper__block {
    position: relative;
  }

  .main-wrapper__image {
    top: auto;
    bottom: 0;
    margin-left: -354px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  .main-wrapper__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 62px;
    padding-bottom: 41px;
    padding-left: 117px;
    text-align: left;
    width: 414px;
    margin: 0;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 119px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper__title {
    padding-top: 126px;
    padding-bottom: 40px;
    padding-left: 190px;
    text-align: left;
  }

  .main-wrapper__image {
    top: 32px;
    bottom: auto;
    left: 558px;
    margin-left: 0;
    z-index: 2;
    width: 552px;
    height: 499px;
  }

  .main-wrapper__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding-left: 190px;
    padding-top: 0;
  }

  .page-body--index::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/index-background-desktop.jpg");
    right: 0;
    top: 0;
    width: 720px;
    height: 694px;
    z-index: -1;

    @media (min-width: 1440px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/index-background-desktop@2x.jpg");
      background-size: auto 696px;
    }
  }

  .main-wrapper__button {
    padding-top: 52px;
    padding-left: 190px;
    padding-bottom: 0;
  }

  .main-wrapper__block {
    padding-bottom: 185px;
  }
}
