.navigation {
  position: relative;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}

.navigation__logo-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.navigation__logo-image,
.navigation__logo-text {
  display: block;
}

.navigation__logo-image:hover {
  opacity: 80%;
}

.navigation__logo-image:active {
  opacity: 60%;
}

.navigation__toggle {
  border: none;
  background-color: #ffffff;
}

.navigation--closed .navigation__toggle {
  background-image: url("../img/menu_toggle--close.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 32px;
}

.navigation--opened .navigation__toggle {
  background-image: url("../img/menu_toggle--open.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 32px;
}

.navigation__logo--img {
  margin: 0;
  padding-right: 57px;
}

.navigation__logo--text {
  margin: 0;
  padding-right: 65px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 320px;
}

.navigation__link {
  display: block;
  text-align: center;
  font-family: $title-font;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:focus {
  opacity: 0.3;
  outline: none;
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    z-index: 10;
  }

  .navigation--nojs {
    display: block;
  }

  .navigation--nojs .navigation__wrapper {
    position: static;
    min-height: 0;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__logo--text {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation__logo-wrapper {
    display: block;
    border: none;
    width: 174px;
  }

  .navigation__logo--img {
    padding: 0;
    margin: 0;
  }

  .navigation__logo-image {
    width: 174px;
    height: 51px;
  }

  .navigation__list {
    position: static;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 34px;
    width: 440px;
    background-color: transparent;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    padding-top: 18px;
    padding-bottom: 10px;
  }

  .navigation__link--active {
    border-bottom: 2px solid $basic-green;
  }

  .navigation__link--active-light {
    border-bottom: 2px solid $basic-green;
  }
}

@media (min-width: $desktop-width) {
  .navigation__link {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .navigation__link--active {
    border-bottom: 2px solid #ffffff;
  }

  .navigation__link--dark {
    color: #000000;
  }

  .navigation__logo-wrapper {
    width: 202px;
    padding-right: 538px;
  }

  .navigation__list {
    width: 483px;
  }

  .navigation__logo-image {
    width: 201px;
    height: 59px;
  }
}
