.navigation {
  display: flex;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.navigation__toggle {
  border: none;
  background-color: #ffffff;
  padding: 20px;
}

.navigation__toggle--open {
  background-image: url("../img/menu_open.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 32px;
}

.navigation__toggle--close {
  display: none;
}

.main-header__logo--img {
  margin: 10px 56px 17px 20px;
}

.main-header__logo--text {
  margin: 23px 65px 24px 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  position: absolute;
  /*display: flex;*/
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  display: none;
}

.navigation__link {
  display: block;
  text-align: center;
  font-family: $title-font;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
