.slider-toggles {
  width:209px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.slider-toggles__toggle {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.slider-toggles__range-scale {
  height: 14px;
  width: 85px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  position: relative;

}


.slider-toggles__range-bar {
  height: 6px;
  background-color: #68B738;
  border-radius: 6px;
  position: absolute;
  left: 6px;
  top: 4px;
}
